/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --shadow-form-field-shadow: 0px 1px 2px 0px #1212170d;
  --shadow-tabview-nav-button-shadow: 0px 0px 10px 50px #ffffff99;
  --shadow-message-info-shadow: 0px 4px 8px 0px #02050a0a;
  --shadow-message-info-close-button-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-message-success-shadow: 0px 4px 8px 0px #0108040a;
  --shadow-message-success-close-button-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-message-warn-shadow: 0px 4px 8px 0px #0907000a;
  --shadow-message-warn-close-button-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-message-error-shadow: 0px 4px 8px 0px #0a03030a;
  --shadow-message-error-close-button-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-message-secondary-shadow: 0px 4px 8px 0px #0405060a;
  --shadow-message-secondary-close-button-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-message-contrast-shadow: 0px 4px 8px 0px #0000010a;
  --shadow-message-contrast-close-button-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-toast-info-shadow: 0px 4px 8px 0px #02050a0a;
  --shadow-toast-info-close-button-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-toast-success-shadow: 0px 4px 8px 0px #0108040a;
  --shadow-toast-success-close-button-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-toast-warn-shadow: 0px 4px 8px 0px #0907000a;
  --shadow-toast-warn-close-button-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-toast-error-shadow: 0px 4px 8px 0px #0a03030a;
  --shadow-toast-error-close-button-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-toast-secondary-shadow: 0px 4px 8px 0px #0405060a;
  --shadow-toast-secondary-close-button-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-toast-contrast-shadow: 0px 4px 8px 0px #0000010a;
  --shadow-toast-contrast-close-button-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-tabs-nav-button-shadow: 0px 0px 10px 50px #ffffff99;
  --shadow-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-form-field-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-overlay-select-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;
  --shadow-overlay-popover-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;
  --shadow-overlay-modal-shadow: 0px 8px 10px -6px #0000001a, 0px 20px 25px -5px #0000001a;
  --shadow-overlay-navigation-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;
  --shadow-inputtext-shadow: 0px 1px 2px 0px #1212170d;
  --shadow-button-raised-shadow: 0px 1px 5px 0px #0000001f, 0px 2px 2px 0px #00000024, 0px 3px 1px -2px #00000033;
  --shadow-toggleswitch-shadow: 0px 1px 2px 0px #1212170d;
  --shadow-toggleswitch-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-inputtext-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-radiobutton-shadow: 0px 1px 2px 0px #1212170d;
  --shadow-radiobutton-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-checkbox-shadow: 0px 1px 2px 0px #1212170d;
  --shadow-checkbox-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-autocomplete-shadow: 0px 1px 2px 0px #1212170d;
  --shadow-autocomplete-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-autocomplete-overlay-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;
  --shadow-autocomplete-dropdown-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-chip-remove-icon-shadow: 0px 0px 0px 0px #00000000;
  --shadow-card-shadow: 0px 1px 2px -1px #0000001a, 0px 1px 3px 0px #0000001a;
  --shadow-breadcrumb-item-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-drawer-shadow: 0px 8px 10px -6px #0000001a, 0px 20px 25px -5px #0000001a;
  --shadow-cascadeselect-shadow: 0px 1px 2px 0px #1212170d;
  --shadow-cascadeselect-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-cascadeselect-overlay-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;
  --shadow-datepicker-panel-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;
  --shadow-datepicker-dropdown-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-datepicker-date-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-colorpicker-preview-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-select-shadow: 0px 1px 2px 0px #1212170d;
  --shadow-select-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-select-overlay-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;
  --shadow-editor-overlay-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;
  --shadow-textarea-shadow: 0px 1px 2px 0px #1212170d;
  --shadow-textarea-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-knob-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-listbox-shadow: 0px 1px 2px 0px #1212170d;
  --shadow-multiselect-shadow: 0px 1px 2px 0px #1212170d;
  --shadow-multiselect-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-multiselect-overlay-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;
  --shadow-password-overlay-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;
  --shadow-slider-handle-content-shadow: 0px 1px 1px 0px #00000024, 0px 0.5px 0px 0px #00000014;
  --shadow-slider-handle-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-togglebutton-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-togglebutton-content-checked-shadow: 0px 1px 2px 0px #0000000a, 0px 1px 2px 0px #00000005;
  --shadow-treeselect-shadow: 0px 1px 2px 0px #1212170d;
  --shadow-treeselect-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-treeselect-overlay-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;
  --shadow-accordion-header-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-fieldset-legend-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-splitter-handle-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-scrollpanel-bar-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-confirmpopup-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;
  --shadow-dialog-shadow: 0px 8px 10px -6px #0000001a, 0px 20px 25px -5px #0000001a;
  --shadow-tooltip-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;
  --shadow-contextmenu-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;
  --shadow-dock-item-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-megamenu-overlay-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;
  --shadow-megamenu-mobile-button-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-menu-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;
  --shadow-menubar-submenu-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;
  --shadow-menubar-mobile-button-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-tieredmenu-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;
  --shadow-organizationchart-node-toggle-button-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-paginator-nav-button-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-datatable-header-cell-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-datatable-row-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-datatable-row-toggle-button-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-datatable-filter-overlay-select-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;
  --shadow-datatable-filter-overlay-popover-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;
  --shadow-timeline-event-marker-content-inset-shadow: 0px 1px 1px 0px #0000001f, 0px 0.5px 0px 0px #0000000f;
  --shadow-tree-node-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-tree-node-toggle-button-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-carousel-indicator-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-image-action-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-treetable-header-cell-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-treetable-row-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-treetable-node-toggle-button-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-galleria-nav-button-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-galleria-thumbnail-nav-button-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-galleria-indicator-button-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-galleria-close-button-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-tabs-tab-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-tabs-tabpanel-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-tabs-nav-button-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-popover-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;
  --shadow-colorpicker-panel-shadow: 0px 2px 4px -2px #0000001a, 0px 4px 6px -1px #0000001a;
  --shadow-splitbutton-raised-shadow: 0px 1px 5px 0px #0000001f, 0px 2px 2px 0px #00000024, 0px 3px 1px -2px #00000033;
  --shadow-stepper-step-header-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-stepper-step-number-shadow: 0px 1px 1px 0px #0000001f, 0px 0.5px 0px 0px #0000000f;
  --shadow-inplace-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-imagecompare-handle-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-rating-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-button-primary-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-button-secondary-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-button-info-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-button-success-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-button-warn-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-button-help-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-button-danger-focus-ring-shadow: 0px 0px 0px 0px #00000000;
  --shadow-button-contrast-focus-ring-shadow: 0px 0px 0px 0px #00000000;
}