/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --string-primitive-typography-font-family-base: "Noto Sans";
  --string-primitive-typography-font-family-mono: "Noto Sans Mono";
  --string-primitive-typography-font-style-normal: "normal";
  --string-primitive-typography-font-style-italic: "italic";
  --string-primitive-typography-font-weight-light: "Light";
  --string-primitive-typography-font-weight-regular: "Regular";
  --string-primitive-typography-font-weight-semibold: "Semi Bold";
  --string-primitive-typography-font-weight-bold: "Bold";
  --string-semantic-typography-display-light-font-family: var(--string-primitive-typography-font-family-base);
  --string-semantic-typography-display-light-font-style: var(--string-primitive-typography-font-style-normal);
  --string-semantic-typography-display-light-font-weight: var(--string-primitive-typography-font-weight-light);
  --string-semantic-typography-display-regular-font-family: var(--string-primitive-typography-font-family-base);
  --string-semantic-typography-display-regular-font-style: var(--string-primitive-typography-font-style-normal);
  --string-semantic-typography-display-regular-font-weight: var(--string-primitive-typography-font-weight-regular);
  --string-semantic-typography-display-semibold-font-family: var(--string-primitive-typography-font-family-base);
  --string-semantic-typography-display-semibold-font-style: var(--string-primitive-typography-font-style-normal);
  --string-semantic-typography-display-semibold-font-weight: var(--string-primitive-typography-font-weight-semibold);
  --string-semantic-typography-display-bold-font-family: var(--string-primitive-typography-font-family-base);
  --string-semantic-typography-display-bold-font-style: var(--string-primitive-typography-font-style-normal);
  --string-semantic-typography-display-bold-font-weight: var(--string-primitive-typography-font-weight-bold);
  --string-semantic-typography-title-1-light-font-family: var(--string-primitive-typography-font-family-base);
  --string-semantic-typography-title-1-light-font-style: var(--string-primitive-typography-font-style-normal);
  --string-semantic-typography-title-1-light-font-weight: var(--string-primitive-typography-font-weight-light);
  --string-semantic-typography-title-1-regular-font-family: var(--string-primitive-typography-font-family-base);
  --string-semantic-typography-title-1-regular-font-style: var(--string-primitive-typography-font-style-normal);
  --string-semantic-typography-title-1-regular-font-weight: var(--string-primitive-typography-font-weight-regular);
  --string-semantic-typography-title-1-semibold-font-family: var(--string-primitive-typography-font-family-base);
  --string-semantic-typography-title-1-semibold-font-style: var(--string-primitive-typography-font-style-normal);
  --string-semantic-typography-title-1-semibold-font-weight: var(--string-primitive-typography-font-weight-semibold);
  --string-semantic-typography-title-2-light-font-family: var(--string-primitive-typography-font-family-base);
  --string-semantic-typography-title-2-light-font-style: var(--string-primitive-typography-font-style-normal);
  --string-semantic-typography-title-2-light-font-weight: var(--string-primitive-typography-font-weight-light);
  --string-semantic-typography-title-1-bold-font-family: var(--string-primitive-typography-font-family-base);
  --string-semantic-typography-title-1-bold-font-style: var(--string-primitive-typography-font-style-normal);
  --string-semantic-typography-title-1-bold-font-weight: var(--string-primitive-typography-font-weight-bold);
  --string-semantic-typography-title-2-regular-font-family: var(--string-primitive-typography-font-family-base);
  --string-semantic-typography-title-2-regular-font-style: var(--string-primitive-typography-font-style-normal);
  --string-semantic-typography-title-2-regular-font-weight: var(--string-primitive-typography-font-weight-regular);
  --string-semantic-typography-title-2-semibold-font-family: var(--string-primitive-typography-font-family-base);
  --string-semantic-typography-title-2-semibold-font-style: var(--string-primitive-typography-font-style-normal);
  --string-semantic-typography-title-2-semibold-font-weight: var(--string-primitive-typography-font-weight-semibold);
  --string-semantic-typography-title-2-bold-font-family: var(--string-primitive-typography-font-family-base);
  --string-semantic-typography-title-2-bold-font-style: var(--string-primitive-typography-font-style-normal);
  --string-semantic-typography-title-2-bold-font-weight: var(--string-primitive-typography-font-weight-bold);
  --string-semantic-typography-title-3-bold-font-family: var(--string-primitive-typography-font-family-base);
  --string-semantic-typography-title-3-bold-font-style: var(--string-primitive-typography-font-style-normal);
  --string-semantic-typography-title-3-bold-font-weight: var(--string-primitive-typography-font-weight-bold);
  --string-semantic-typography-title-3-semibold-font-family: var(--string-primitive-typography-font-family-base);
  --string-semantic-typography-title-3-semibold-font-style: var(--string-primitive-typography-font-style-normal);
  --string-semantic-typography-title-3-semibold-font-weight: var(--string-primitive-typography-font-weight-semibold);
  --string-semantic-typography-title-3-regular-font-family: var(--string-primitive-typography-font-family-base);
  --string-semantic-typography-title-3-regular-font-style: var(--string-primitive-typography-font-style-normal);
  --string-semantic-typography-title-3-regular-font-weight: var(--string-primitive-typography-font-weight-regular);
  --string-semantic-typography-heading-5-deprecated-regular-font-family: var(--string-primitive-typography-font-family-base);
  --string-semantic-typography-heading-5-deprecated-regular-font-weight: var(--string-primitive-typography-font-weight-regular);
  --string-semantic-typography-heading-5-deprecated-regular-font-style: var(--string-primitive-typography-font-style-normal);
  --string-semantic-typography-heading-5-deprecated-semibold-font-family: var(--string-primitive-typography-font-family-base);
  --string-semantic-typography-heading-5-deprecated-semibold-font-weight: var(--string-primitive-typography-font-weight-semibold);
  --string-semantic-typography-heading-5-deprecated-semibold-font-style: var(--string-primitive-typography-font-style-normal);
  --string-semantic-typography-heading-5-deprecated-bold-font-family: var(--string-primitive-typography-font-family-base);
  --string-semantic-typography-heading-5-deprecated-bold-font-weight: var(--string-primitive-typography-font-weight-bold);
  --string-semantic-typography-heading-5-deprecated-bold-font-style: var(--string-primitive-typography-font-style-normal);
  --string-semantic-typography-heading-6-deprecated-regular-font-family: var(--string-primitive-typography-font-family-base);
  --string-semantic-typography-heading-6-deprecated-regular-font-weight: var(--string-primitive-typography-font-weight-regular);
  --string-semantic-typography-heading-6-deprecated-regular-font-style: var(--string-primitive-typography-font-style-normal);
  --string-semantic-typography-heading-6-deprecated-semibold-font-family: var(--string-primitive-typography-font-family-base);
  --string-semantic-typography-heading-6-deprecated-semibold-font-weight: var(--string-primitive-typography-font-weight-semibold);
  --string-semantic-typography-heading-6-deprecated-semibold-font-style: var(--string-primitive-typography-font-style-normal);
  --string-semantic-typography-heading-6-deprecated-bold-font-family: var(--string-primitive-typography-font-family-base);
  --string-semantic-typography-large-body-text-regular-font-family: var(--string-primitive-typography-font-family-base);
  --string-semantic-typography-large-body-text-regular-font-weight: var(--string-primitive-typography-font-weight-regular);
  --string-semantic-typography-large-body-text-regular-font-style: var(--string-primitive-typography-font-style-normal);
  --string-semantic-typography-heading-6-deprecated-bold-font-weight: var(--string-primitive-typography-font-weight-bold);
  --string-semantic-typography-heading-6-deprecated-bold-font-style: var(--string-primitive-typography-font-style-normal);
  --string-semantic-typography-large-body-text-bold-font-family: var(--string-primitive-typography-font-family-base);
  --string-semantic-typography-large-body-text-bold-font-style: var(--string-primitive-typography-font-style-normal);
  --string-semantic-typography-large-body-text-bold-font-weight: var(--string-primitive-typography-font-weight-bold);
  --string-semantic-typography-large-body-text-italic-font-family: var(--string-primitive-typography-font-family-base);
  --string-semantic-typography-large-body-text-italic-font-style: var(--string-primitive-typography-font-style-italic);
  --string-semantic-typography-large-body-text-italic-font-weight: var(--string-primitive-typography-font-weight-regular);
  --string-semantic-typography-body-text-regular-font-family: var(--string-primitive-typography-font-family-base);
  --string-semantic-typography-body-text-regular-font-style: var(--string-primitive-typography-font-style-normal);
  --string-semantic-typography-body-text-regular-font-weight: var(--string-primitive-typography-font-weight-regular);
  --string-semantic-typography-body-text-bold-font-family: var(--string-primitive-typography-font-family-base);
  --string-semantic-typography-body-text-bold-font-style: var(--string-primitive-typography-font-style-normal);
  --string-semantic-typography-body-text-bold-font-weight: var(--string-primitive-typography-font-weight-bold);
  --string-semantic-typography-small-body-text-regular-font-family: var(--string-primitive-typography-font-family-base);
  --string-semantic-typography-small-body-text-regular-font-weight: var(--string-primitive-typography-font-weight-regular);
  --string-semantic-typography-small-body-text-regular-font-style: var(--string-primitive-typography-font-style-normal);
}